<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr-Code Gen</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
</head>
<body>
    <h1>Gerador de Qr-Code</h1>
    <h2>Insira o Texto :</h2>
    <input type="text" name="texto" id="texto" placeholder="Digite o texto aqui">
    <button>Gerar Code</button>

    <div class="">
        <img src="" alt="">
    </div>



<script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js"></script>

<script src="/scripts/main.js"></script>
</body>
</html>